p{
    text-align: center;
    color: blanchedalmond;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}
h1{
    color:blue;
    background-color: beige;
}